 {% extends "base.html" %}

 {% load static %}

 {% block content %}

 <div xmlns="http://www.w3.org/1999/html">

     <style scoped>

            .button-success,
            .button-error,
            .button-warning,
            .button-secondary {
                color: white;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            }

            .button-success {
                background: rgb(28, 184, 65); /* this is a green */
                style="margin-top: 15px;
                margin-left: 50px;
                margin-right: 50px;
            }

            .button-error {
                background: rgb(202, 60, 60); /* this is a maroon */
            }

            .button-warning {
                background: rgb(223, 117, 20); /* this is an orange */
            }

            .button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
            }

            </style>

     <p>
        <h4>
            Meu Perfil / Detalhe: {{ atividade.nome }}
        </h4>
     </p>

    <h3 style="text-align:center"> - Detalhe - </h3>
    <p style="text-align:center">_____________________________________________________________________</p>

    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th colspan="2" style="text-align:center">Sua atividade</th>
            </tr>
        </thead>

        <tbody>
            <tr><td><strong>Nome: </strong> </td>                           <td>{{ atividade.nome }} </td> </tr>
            <tr> <td><strong>Data de execução: </strong> </td>                        <td>{{ atividade.data_inicio }} </td></tr>
            <tr> <td><strong>Total de questões: </strong></td>       <td>{{ atividade.qtd_questoes }} </td></tr>
            <tr> <td><strong>Pontuação Total: </strong></td>   <td>{{ atividade.pontuacao_geral }} </td></tr>
            <tr> <td><strong>Quantidade de acertos: </strong></td>                      <td>{{ atividade.qtd_acertos }} </td></tr>
            <tr> <td><strong>Seus pontos: </strong></td>                       <td>{{ atividade.pontuacao_aluno }} </td></tr>
            <tr> <td><strong>Percentual de Acertos: </strong></td>                 <td>{{ atividade.perc_acertos }}% </td></tr>
            <tr> <td><strong>Sua Recompensa: </strong></td>                  <td>{{ atividade.premiacao }} </td></tr>

        </tbody>

    </table>

     <p style="text-align:center">_____________________________________________________________________</p>
     <h3 style="text-align:center"> - Questões da atividade - </h3>
     <p style="text-align:center">_____________________________________________________________________</p>

     <table class="pure-table pure-table-horizontal">
         <thead>
            <tr>
                <th colspan="2" style="text-align:center" ></th>
            </tr>
        </thead>

         <tbody>
         {% for questao in questoes %}
         <tr>
             <td>
                  <p style="text-align:center">
                      {% if questao.acertou == True %}
                        <img src="{% static 'ok.png' %}" width="40" height="30">
                        <br>
                      {% endif %}
                  </p>

                  <p style="text-align:center">
                      {% if questao.acertou == False %}
                        <img src="{% static 'erro.png' %}" width="40" height="30">
                        <br>
                      {% endif %}
                  </p>
             </td>
             <td>
                 <p>
                     <strong> Sentença: </strong> {{ questao.sentenca }}
                     <br>
                     <strong> Explicação da resposta: </strong> {{ questao.feedback }}
                     <br>
                     <strong> Resposta Correta: </strong> {{ questao.resposta_correta }}
                     <br>
                     <strong> Sua resposta: </strong> {{ questao.resposta_aluno }}
                    <br>
                 </p>
                 <br>

             </td>
         </tr>
         {% empty %}
         <tr>
             <td>
                 <p style="text-align:center">Nenhuma questão encontrada</p>
             </td>
         </tr>
         {% endfor %}
        </tbody>

     </table>

     <p style="text-align:center">
            <a class="button-warning pure-button" href="{% url 'courses:meuperfil' %}">Voltar</a>
     </p>

 </div>

{% endblock %}