{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="pure-g-r content-ribbon" id="editar_questao">

    <style scoped>

            .button-success,
            .button-error,
            .button-warning,
            .button-secondary {
                color: white;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            }

            .button-success {
                background: rgb(28, 184, 65); /* this is a green */
                style="margin-top: 15px;
                margin-left: 50px;
                margin-right: 50px;
            }

            .button-error {
                background: rgb(202, 60, 60); /* this is a maroon */
            }

            .button-warning {
                background: rgb(223, 117, 20); /* this is an orange */
            }

            .button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
            }

            </style>

    <p>
        <h4>
            Repositório de Questões / Editar Questão
        </h4>
     </p>

    <br>

    <h3 style="text-align:center"> - Editar Questão - </h3>
    <p style="text-align:center">_____________________________________________________________________</p>

    {% if is_valid %}

    <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
            <th style="text-align:center">  </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <p style="text-align:center">
                    Questão salva com sucesso !
                </p>
                <br>
                <p style="text-align:center">
                    <a class="button-warning pure-button"  href="{% url 'courses:repositorio' %}"> Voltar</a>
                </p>
            </td>
        </tr>
        </tbody>

    </table>

    {% endif %}

    {% if is_valid == False%}

    <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
            <th style="text-align:center">  </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <form action="#editar_questao" class="pure-form" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <br>
                        {% for field in form %}
                        <div class="pure-control-group">
                            <br>
                            {{ field.label_tag }}<span class="required">*</span>
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}

                        {% if questao.tipo == 'Múltipla Escolha' %}
                        {% for field_alt in form_alt %}
                        <div class="pure-control-group">
                            <br>
                            {{ field_alt.label_tag }}
                            {{ field_alt }}

                            {% if field_alt.errors %}
                            <ul class="errorlist">
                                {% for error in field_alt.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if questao.tipo == 'Lacunas' %}
                        {% for field_l in form_l %}
                        <div class="pure-control-group">
                            <br>
                            {{ field_l.label_tag }}
                            {{ field_l }}
                            {{ field_l.help_text }}

                            {% if field_l.errors %}
                            <ul class="errorlist">
                                {% for error in field_l.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% endif %}

			            {% if questao.tipo == 'Verdadeiro ou Falso' %}
                        {% for field_vf in form_vf %}
                        <div class="pure-control-group">
                            <br>
                            {{ field_vf.label_tag }}
                            {{ field_vf }}

                            {% if field_vf.errors %}
                            <ul class="errorlist">
                                {% for error in field_vf.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="pure-controls">
                            <p style="text-align:center">
                                <a class="button-warning pure-button" href="{% url 'courses:repositorio' %}">Voltar</a>
                                <button type="submit" class="button-success pure-button">Salvar</button>
                            </p>
                        </div>
                    </fieldset>
                </form>
            </td>
        </tr>
        </tbody>

    </table>

    {% endif %}


</div>

{% endblock %}