 {% extends "base.html" %}

 {% load static %}

 {% block content %}



  <div>

      <style scoped>

            .button-success,
            .button-error,
            .button-warning,
            .button-secondary {
                color: white;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            }

            .button-success {
                background: rgb(28, 184, 65); /* this is a green */
                style="margin-top: 15px;
                margin-left: 50px;
                margin-right: 50px;
            }

            .button-error {
                background: rgb(202, 60, 60); /* this is a maroon */
            }

            .button-warning {
                background: rgb(223, 117, 20); /* this is an orange */
            }

            .button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
            }

            </style>

      <p>
        <h4>
            Repositório de Questões / Excluir Questão
        </h4>
     </p>

      <h3 style="text-align:center"> - Excluir - </h3>
      <p style="text-align:center">_____________________________________________________________________</p>
      <br>

     {% if is_valid %}
      <table class="pure-table pure-table-horizontal">

          <thead>
            <tr>
                <th> </th>
            </tr>
          </thead>

          <tbody>
          <tr>
              <td>
                  <p style="text-align:center">  Questão excluída com sucesso ! </p>
                  <br>
                  <p style="text-align:center">
                      <a class="button-warning pure-button"  href="{% url 'courses:repositorio' %}"> Voltar </a>
                  </p>
              </td>
          </tr>
          </tbody>

      </table>

     {% endif %}

     {% if is_valid == False%}

       <table class="pure-table pure-table-horizontal">

        <thead>
            <tr>
                <th colspan="2" style="text-align:center"> Questão </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><strong>Tem certeza que deseja excluir a questão: </strong>' {{ questao.sentenca }} '? </td>
                <td>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <p style="text-align:center">
                                <a class="button-secondary pure-button" href="{% url 'courses:repositorio' %}">Cancelar</a>
                                <button type="submit"  name="enviar_" value="enviar" class="button-success pure-button">Sim</button>
                            </p>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>

       </table>

      {% endif %}

 </div>

{% endblock %}
