 {% extends "base.html" %}

 {% load static %}

 {% block content %}

 </div>


    <style scoped>

            .button-success,
            .button-error,
            .button-warning,
            .button-secondary {
                color: white;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            }

            .button-success {
                background: rgb(28, 184, 65); /* this is a green */
                style="margin-top: 15px;
                margin-left: 50px;
                margin-right: 50px;
            }

            .button-error {
                background: rgb(202, 60, 60); /* this is a maroon */
            }

            .button-warning {
                background: rgb(223, 117, 20); /* this is an orange */
            }

            .button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
            }

            </style>


    <body onload="inicializa()">
    </body>

    <p>
        <h4>
             Atividades / Diretrizes / Respondendo
        </h4>
      </p>
    {% if num_questoes == 0 %}
    <p style="text-align:center">

            <strong>Atenção! </strong> Não foram encontradas questões para esta atividade.
            <br>
            O professor deverá adicionar questões à atividade.
            <br>
    </p>
    <p style="text-align:center">
        <a class="button-warning pure-button"  href="{% url 'courses:atividades' %}">Voltar</a>
    </p>
    {% endif %}

      {% if num_questoes != 0 %}
          <table class="pure-table pure-table-horizontal">
              <thead>
              <tr>
                  <th style="text-align:center">Questão {{ contador }}/{{ num_questoes }}</th>
                  <th style="text-align:center">Pontuação da Questão:{{ questao.pontuacao }}</th>
                  <th style="text-align:center">Seus pontos: {{ pontos_usuario }}</th>
                  <th style="text-align:center">
                     <div id="setTime2">
                     </div>
                  </th>
                  <th style="text-align:center">
                        <img src="{% static 'relogio.gif' %}" width="80" height="80">
                  </th>
              </tr>
              </thead>

              <tbody>
              <tr>
                  <td colspan="4">
                      {{ questao.sentenca }}
                  </td>
              </tr>
              <tr>
                  <td colspan="4">
                      <form name="formulario" action="#responder_questao" class="pure-form" method="post">
                          {% csrf_token %}
                          <fieldset>

                              {% if questao.tipo == 'Múltipla Escolha' %}
                              <div id="multipla_escolha">
                                  {% for field_me in form_me %}
                                  <div class="pure-control-group">
                                      {{ field_me.label_tag }}
                                      {{ field_me }}
                                      {% if field_me.errors %}
                                      <ul class="errorlist">
                                          {% for error in field_me.errors %}
                                          <li>{{ error }}</li>
                                          {% endfor %}
                                      </ul>
                                      {% endif %}
                                  </div>
                                  {% endfor %}
                              </div>
                              {% endif %}

                              {% if questao.tipo == 'Lacunas' %}
                              <div id="lacunas">
                                  {% for field_l in form_l %}
                                  <div class="pure-control-group">
                                      {{ field_l.label_tag }}
                                      {{ field_l }}
                                      {{ field_l.help_text }}
                                      {% if field_l.errors %}
                                      <ul class="errorlist">
                                          {% for error in field_l.errors %}
                                          <li>{{ error }}</li>
                                          {% endfor %}
                                      </ul>
                                      {% endif %}
                                  </div>
                                  {% endfor %}
                              </div>
                              {% endif %}

                              {% if questao.tipo == 'Verdadeiro ou Falso' %}
                              <div id="verdadeiro_ou_falso">
                                  {% for field_vf in form_vf %}
                                  <div class="pure-control-group">
                                      {{ field_vf.label_tag }}
                                      {{ field_vf }}

                                      {% if field_vf.errors %}
                                      <ul class="errorlist">
                                          {% for error in field_vf.errors %}
                                          <li>{{ error }}</li>
                                          {% endfor %}
                                      </ul>
                                      {% endif %}
                                  </div>
                                  {% endfor %}
                              </div>
                              {% endif %}
                              <div class="pure-controls">
                                <p style="text-align:center">
                                    <button type="submit"  class="button-success pure-button">Enviar</button>
                                </p>
                              </div>
                          </fieldset>
                      </form>
                  </td>
              </tr>
              </tbody>
          </table>
       {% endif %}

 <script>

			var seg;
			seg = {{ tempo_resposta }};
            if(seg != 'Ilimitado'){
			    function inicializa(){
                    document.getElementById('setTime2').innerHTML = "Tempo Restante: " + seg;
			        relogio();
			    }

			    function relogio(){
				    if(seg > 0){
					    document.getElementById('setTime2').innerHTML = "Tempo Restante: " + seg;
					    setTimeout('relogio()', 1000);
					    seg = seg - 1;
				    }
				    else{
					    document.formulario.submit();
			        }
			    }
			}else{
			    document.getElementById('setTime2').innerHTML = "Tempo Restante: Ilimitado";
			}
</script>

 </div>

{% endblock %}